@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'themes-vars.module.scss';
$whiteColor: #fff;
$blackColor: #000;
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: $whiteColor;
    font-family: 'Montserrat', sans-serif;
    color: $blackColor;
}

p,
a,
span {
    font-size: 16px;
    line-height: 26px;
}

p,
tr,
td,
th,
a,
ul,
ol,
li,
strong,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primaryDark;
}

tr,
td,
th {
    color: $primaryDark !important;
}

h4.title {
    color: #fff;
}

a {
    color: $whiteColor;
    text-decoration: none;
}

li {
    list-style: none;
}

.noData {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}